#panier{
    font-size : 80%;
    color : white;
    position : absolute;
    right : 2%;
    top : 1%;
    font-weight : bold; /*pour mettre en gras*/
}

#nomEtPrenom{
    font-size : 80% ;
    color : white;
    position : absolute;
    top : 1%;
    left : 1%;
    font-weight : bold; /*pour mettre en gras*/
}
