#formulaire{
    background-image : url("images/9.jpg"); 
    color : white; 
}

h1{
    text-align : center;  
    text-shadow : 10px 10px 10px white; 
    color : white; 
    font-family : Verdana;
    text-decoration : overline; 
}
ul li input[type="checkbox"]+label {
    position: relative;
    text-align : center;
    padding-left: 25px;
    border: #F0F8FF;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;

}
ul li input[type="checkbox"]+label span:first-child {
    width: 13px;
    height: 13px;
    display: inline-block;
    border: 1px solid #FFFFFF;
    position: absolute;
    text-align : center;
    top: 1px;
    left: 4px;
    bottom: 4px;
}



input[type="submit"] {
    text-align : center;
    margin-top: 60px;
    padding: 8px 20px;
    border: none;
    outline: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #501522;
    background-color: #FFF;
    transition: 0.5s all;
    webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
input[type="submit"]:hover {
    text-align : center;
    background-color: #000;
    color: #FFF;
    cursor:pointer;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}