.formulaire{
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
  height: 300px;
}

body{
  background: url(../Photos/Black_velvet.jpg);
}
header{
  background: rgb(0,0,0);
  opacity: 0.5;
  height: 100px;
}

label{
  color: #fff;
}

button{
  background: rgb(238, 150, 111) !important;
}
